
.heading
{
	color:blue;
	font-size:40px
}

.description
{
	color:darkgray;
	font-size:20px;
	border-style: dotted;
	border-left-style:solid;
	padding: 20px 20px 20px 20px;
	width: 50%;
	background-color: orangered;
}

.image
{
	width: 200px;
	position: relative;
	left: 20px;
}

.chart
{
	width: 500px;
	height: 210px;
}

.poly1
{
	fill: darkgray;
	stroke: darkgray;
	stroke-width: 5;
}